<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/stigmergic.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- 顶部导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">StigMergic</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul> -->

          <ul class="nav navbar-nav navbar-right">
            <% if (!user) { %>
              <li><a href="/reg">Sign up</a></li>
              <li><a href="/login">Sign in</a></li>
            <% } else { %>
              <li><a><%= user.name %></a></li>
              <li><a href="/logout">Sign out</a></li>
            <% } %>
          </ul>
          <form class="navbar-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav>

    <!-- 主容器 -->
    <div class="container">
      <!-- 信息通知栏 -->
      <% if (success) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= success %>
        </div>
      <% } %>
      <% if (error) { %>
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= error %>
        </div>
      <% } %>
      <!-- 内容 -->
    	<%- body %>
      <hr>
      <footer>
          <p class="text-center fontColorGray">&copy; PKUSEI 2014</p>
      </footer>
    </div>


  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stigmergic.js"></script>

  </body>
</html>